venv/
.venv/
env/
ENV/
.env
.env.*
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
.pytest_cache/
.cache/
.mypy_cache/
.vscode/
.idea/
node_modules/
*.log
*.sqlite3
coverage/
htmlcov/
pip-wheel-metadata/
__pycache__/
*.so
.DS_Store